<!DOCTYPE html>
<html>

<head>
    <title>MAS Militantes</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="" href="css/estilo.css">-->
    <!--<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">-->

    <title>Página Militancia Nuestra señora de La Paz</title>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        #bandera2 {
            width: 100%;
            text-align: center;
            display: inline-block;
            float: none;
        }

        .navbar {
            position: relative;
        }

        #bandera {
            position: absolute;
            left: 50%;
            margin-top: 50px;
            margin-left: -50px !important;
            /* 50% of your logo width */
            display: block;
        }

        .dropdown-submenu {
            position: relative;
        }

        /* .dropdown-submenu > a.dropdown-item:after {
            font-family: FontAwesome;
            content: "\f054";
            float: right;
        } */
        .dropdown-submenu>a.dropdown-item:after {
            content: " ";
            float: right;
        }

        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: 0px;
            margin-left: 0px;
        }

        .dropdown-submenu:hover>.dropdown-menu {
            display: block;
        }
    </style>
</head>

<body>

    <!--<div class="container">-->
    <nav class="navbar navbar-expand-md navbar-dark  fixed-top nav-pills " style="background-color: #143a83;">

        <a class="navbar-brand navbar-logo" href="/">
            <img src="/img/evo_mini.png" width="50" height="50" alt="">
        </a>
        <a id='bandera' class="navbar-brand navbar-logo mx-auto" href="/">
            <img src="/img/mas_bandera.png" width="110" height="100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Principal
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                              <li class="nav-item">
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Mapas</a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Elección 2005</a>
                                <ul class="dropdown-menu">

                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_zona/1">Zona</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_distrito/1">Distrito</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_c/1">Circunscripción</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa/1">General</a></li>

                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Elecciones Nacionales 2009</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_zona/3">Zona</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_distrito/3">Distrito</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_c/3">Circunscripción</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa/3">General</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Elección 2014</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_zona/2">Zona</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_distrito/2">Distrito</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_c/2">Circunscripción</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa/2">General</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Elección primarias 2019</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_zona/4">Zona</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_distrito/4">Distrito</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_c/4">Circunscripción</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa/4">General</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/datos/mapa_comparativo_general">Comparar</a></li>
                        </ul>
                    </div>
                </li>
                
                <!-- MAPAS CON CURVA -->
                <li class="nav-item">
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Mapas Curva</a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Elección 2005</a>
                                <ul class="dropdown-menu">

                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_zona_curva/1">Zona</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1"
                                            href="/datos/mapa_distrito_curva/1">Distrito</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1"
                                            href="/datos/mapa_c_curva/1">Circunscripción</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_curva/1">General</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Elecciones Nacionales 2009</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_zona_curva/3">Zona</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1"
                                            href="/datos/mapa_distrito_curva/3">Distrito</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1"
                                            href="/datos/mapa_c_curva/3">Circunscripción</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_curva/3">General</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Elección 2014</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_zona_curva/2">Zona</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1"
                                            href="/datos/mapa_distrito_curva/2">Distrito</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1"
                                            href="/datos/mapa_c_curva/2">Circunscripción</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_curva/2">General</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Elección primarias 2019</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_zona_curva/4">Zona</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1"
                                            href="/datos/mapa_distrito_curva/4">Distrito</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1"
                                            href="/datos/mapa_c_curva/4">Circunscripción</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="/datos/mapa_curva/4">General</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/datos/mapa_comparativo">Comparar</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/datos/mapa_unico">Comparativo
                    </a>
            </li> -->

                <!-- </ul> -->
            </ul>





            <% if(!req.isAuthenticated()){%>

            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn  btn-outline-primary" data-toggle="modal"
                    data-target="#exampleModalCenter" type="submit">Loguearse</button>
            </form>


            <%}else{%>

            <ul class="navbar-nav justify-content-end">

                <li class="nav-item">
                    <a class="nav-link" href="/mapa/principal">Mapa Recintos
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/principal">Resultados
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

            </ul>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%=req.user.idMilitante.nombre%>
                    <%=req.user.idMilitante.paterno%>
                    <%=req.user.idMilitante.materno%>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    <%if(req.user.rol=='admin'){%>
                    <a class="dropdown-item" href="/admin/principal">Panel</a>
                    <a class="dropdown-item" href="/mapa/principal">Mapa</a>
                    <%}else{%>
                    <a class="dropdown-item" href="/recintoDelegado/principal">Militantes</a>
                    <%}%>
                            <a class="dropdown-item" href="/auth/salir">Salir</a>
                            <!--<a class="dropdown-item" href="#">Something else here</a>-->
                        </div>
                    </div>
                <%}%>
                </div>
    </nav>

    <!-- body         -->
    <%- body %>

    <!--</div>-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Acceso Delegado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="/auth/login">


                    <div class="modal-body bg-dark text-white">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <img src="/img/evo_mini.png" class="img-fluid" alt="Responsive image">

                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Usuario</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" name="username"
                                        aria-describedby="emailHelp" placeholder="usuario">
                                    <small id="emailHelp" class="form-text text-muted">Introduzca el usuario previamente
                                        notificado</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contraseña</label>
                                    <input type="password" name="password" class="form-control"
                                        id="exampleInputPassword1" placeholder="Contraseña">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <input type="submit" class="btn btn-primary" value="Entrar"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <script>

        $(".dropdown-toggle").on("mouseenter", function () {
            // make sure it is not shown:
            if (!$(this).parent().hasClass("show")) {
                $(this).click();
            }
        });

        $(".btn-group, .dropdown").on("mouseleave", function () {
            // make sure it is shown:
            if ($(this).hasClass("show")) {
                $(this).children('.dropdown-toggle').first().click();
            }
        });
    </script>

    <!--<script src="js/miScriptk.js"></script>-->
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
        $(".dropdown-trigger").dropdown();
    </script>



</body>

</html>